<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'movie/favicon1.ico' %}"/>
    <link rel="bookmark" href="{% static 'movie/favicon1.ico' %}"/>
    <meta charset="UTF-8">
    <title>ZLab's Movie Recommender System</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="/static/bootstrap/js/jquery.min.js">
    <link rel="stylesheet" href="/static/bootstrap/js/bootstrap.min.js">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"><!--引入bootstrap的css样式库-->
    <script src="/static/js/jquery.min.js"></script><!--引入jQuery-->
    <!--bootstrap是基于jQuery库的，所以应该先导入jQuery-->
    <script src="/static/js/bootstrap.min.js"></script>


</head>
<body>
<!-- 导航条 -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'movie:index' %}">ZLab's Movie Recommender System</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'movie:index' %}">Home</a></li>
                <li><a href="{% url 'movie:tag' %}">Movie Categories</a></li>
                <li><a href="{% url 'movie:hot' %}">Popular Movies</a></li>
                {% if movie_user %}
                    <li><a href="{% url 'movie:recommend' %}">Recommended List</a></li>
                    <li><a href="{% url 'movie:history' movie_user.id %}">Rating History</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-left" method="GET" action="{% url 'movie:search' %}">
                <div class="form-group">
                    <input type="search" name="keyword" class="form-control" placeholder="Input Movie's Information" required>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if movie_user %}
                    <li>
                        <div class="btn-group" style="margin-top:10px">
                            <button type="button" class="btn btn-info">{{ movie_user.name }}</button>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'movie:logout' %}">Log Out</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{% url 'movie:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'movie:login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block content %}

{% endblock %}


<div class="mastfoot" style="text-align: center;margin-top:50px;margin-bottom: 30px ">
    <div class="inner">
        <p>
            <span>Copyright (C). create by ZLab</span>&nbsp;&nbsp;
            <a href="/admin">Admin Login</a>
        </p>
    </div>
</div>

</body>
</html>